
<div class="jumbotron text-center" style="margin-bottom: 0">
    <h1 style="color: hsl(130, 82%, 34%)">ANGULAR</h1>
  </div>
  
  <nav class="justify-content-end navbar-expand-lg navbar-light bg-info navbar">
    <h3></h3>
    <a class="navbar-brand" href="#"></a>
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active"
            >Sign Up
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/customerlist" routerLinkActive="active"
              >Customerlist
            </a>
          </li>
        
        </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  